
body {
  background-color: #010f0f;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
}

.home-div {
  /* background: url("../images/hello.png") no-repeat center center; */
  color: #D2D2DC;
  margin: 5rem 0rem; /* change this to 0rem 0rem if you switch to protocol one. */
  padding: 5rem 2.5rem;
  text-align: center;
  position: relative;
}

/* This way makes it look like image on left and name and button on right  */
/* .home-img {
  display: inline-block;
}

.home-info {
  display: inline-block;
  margin: 0 auto;
  padding: 3px;
} */

/* This is where I handle the devloper hint text above and below image */
.developer-hint-left{
  color: #8a7e41;
  padding-right: 30%; /* moving it to the left */
  font-size: 3rem; /* Changing Font Size */
  animation: developer-hint-left-animation 3s 1 0s linear;
}

.developer-hint-right {
  color: #1f5671;
  padding-left: 30%; /* moving it to the right */
  font-size: 3rem; /* Changing Font Size */
  animation: developer-hint-right-animation 3s 1 0s linear;
}
/*************************************************************************/


/* All  this is regarding the transistion effect of developer-hint-left */
@keyframes developer-hint-left-animation{
    0%{
        transform: translateX(1000px);
        }
    2%{
        transform: translateX(900px);
        }
    5%{
        transform: translateX(800px);
        }
    9%{
        transform: translateX(700px);
        }
    13%{
        transform: translateX(600px);
        }
    17%{
        transform: translateX(500px);
        }
    20%{
        transform: translateX(400px);
        }
    24%{
        transform: translateX(300px);
        }
    27%{
        transform: translateX(200px);
        }
    30%{
        transform: translateX(100px);
        }
    33%{
        transform: translateX(100px);
        }
    36%{
        transform: rotate(xx) translateX(100px);
        }
      }

/**************************************************************************/

/* All  this is regarding the transistion effect of developer-hint-right */
@keyframes developer-hint-right-animation{
    0%{
        transform: translateX(-1000px);
        }
    2%{
        transform: translateX(-900px);
        }
    5%{
        transform: translateX(-800px);
        }
    9%{
        transform: translateX(-700px);
        }
    13%{
        transform: translateX(-600px);
        }
    17%{
        transform: translateX(-500px);
        }
    20%{
        transform: translateX(-400px);
        }
    24%{
        transform: translateX(-300px);
        }
    27%{
        transform: translateX(-200px);
        }
    30%{
        transform: translateX(-100px);
        }
    33%{
        transform: translateX(-100px);
        }
    36%{
        transform: rotate(xx) translateX(100px);
        }
      }

/**************************************************************************/

/* This way makes it look like image center and name and button in image also centered */
.home-img, .home-info {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* This is for changing btn + text on front home img */
.home-info {
   top: 120%; /* changing the btn and Name Text above img */
   z-index: 10;
}

/* This is for css style for the btn in front of img on home screen */
/* Only change the style and margin to top of div for this one */
.home-btn-custom {
  background-color: Transparent;
  color: #D2D2DC;
  margin-top: 1rem;
  border-radius: 10px;
}

.nav-link-selected {
  font-family: 'Oxanium', cursive;
}

.nav-num-selected {
  font-family: 'Oxanium', cursive;
  color: blue;
}

.nav-num-about {
  display: none;
  font-family: 'Oxanium', cursive;
  color: blue;
}

.nav-num-portfolio {
  display: none;
  font-family: 'Oxanium', cursive;
  color: red;
}

.nav-num-resume {
  display: none;
  font-family: 'Oxanium', cursive;
  color: #7802AC;
}

.nav-num-contact {
  display: none;
  font-family: 'Oxanium', cursive;
  color: #D13F05;
}

/* .nav-link-selected:hover {
  font-size: 24px;
} */

.nav-link-option:hover {
  font-family: 'Oxanium', cursive;
  /* font-size: 24px; */
  color: blue;
}

.nav-link-selected {
  /* text-decoration: underline blue; */
  border-bottom: 1px solid blue;
}

.nav-link-social-media:hover {
  font-size: 1.4rem;
}
